<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
<appSettings>
	<add key="ConnectionString" value="Data Source=180.179.218.225;Initial Catalog=VehicleService;uid=sa;password=Bz10#38qR;Connect Timeout=2500" />
    <add key="CompanyName" value="BMW" />
  </appSettings>
    <system.web>      
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
